@font-face{
	font-family: CinzelRegular;
	src: url(../fonts/Cinzel/Cinzel-Regular.ttf);
}
@font-face{
	font-family: CinzelBold;
	src: url(../fonts/Cinzel/Cinzel-Bold.ttf);
}
@font-face{
	font-family: LoraRegular;
	src: url(../fonts/Lora/Lora-Regular.ttf);
}
@font-face{
	font-family: LoraBold;
	src: url(../fonts/Lora/Lora-Bold.ttf);
}
@font-face{
	font-family: LoraItalic;
	src: url(../fonts/Lora/Lora-Italic.ttf);
}
@font-face{
	font-family: LoraBoldItalic;
	src: url(../fonts/Lora/Lora-BoldItalic.ttf);
}