nav {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
}
li a{
    text-decoration: none;
    color: #333;
}
#global {
    position: absolute;
    z-index: -10;
    top: 0;
    width: 100%;
    height: 100%;
}
#hamburger, #hamburger-content {
    display: inline;
}
#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    vertical-align: top;
    padding: 0;
    line-height: 47px;
    float: right;
}
#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}
#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 84%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}
#hamburger-sidebar li {
    display: block;
}
#hamburger-sidebar-header {
    background: url(../img/burger-banner.jpg) center;
    background-size: cover;
    height: 128px;
}
#hamburger-sidebar-body {
    padding: 16px 8px;
}
#hamburger-sidebar-body li:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}
#hamburger-sidebar-body .button {
    margin-top: 16px;
    text-align: center;
    float: none;
    display: block;
    height: auto;
    line-height: inherit;
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    #hamburger-content {
        display: none;
    }
    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }
    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }
}
